:root {
  --semi-bold: 600;
  --regular: 400;

  --color-primary-strong-cyan-light: hsl(171, 66%, 48%);
  --color-primary-strong-cyan: hsl(171, 66%, 44%);
  --color-primary-strong-cyan-night: hsla(171, 66%, 38%);

  --color-primary-light-blue-light: hsl(233, 100%, 74%);
  --color-primary-light-blue: hsl(233, 100%, 69%);
  --color-primary-light-blue-night: hsl(233, 100%, 60%);

  --color-secondary-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-secondary-grayish-blue: hsl(201, 11%, 66%);
}